In [76]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

In [84]:
import pandas as pd
markets_data = cg.get_coins_markets(vs_currency="usd", price_change_percentage="200d")
dframe = pd.DataFrame(markets_data)
dframe.to_csv("data_markets.csv")

In [85]:
dframe = pd.read_csv('data_markets.csv')
dframe.head(1)

,Unnamed: 0,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,...,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated,price_change_percentage_200d_in_currency
0,0,bitcoin,btc,Bitcoin,https://assets.coingecko.com/coins/images/1/la...,29296.0,569969216652,1,6.151893e+11,1.800175e+09,...,21000000.0,69045.0,-57.57916,2021-11-10T14:24:11.849Z,67.81,43093.93283,2013-07-06T00:00:00.000Z,NaN,2023-08-13T23:03:42.391Z,27.994945

In [86]:
columnas_seleccionadas = ['id', 'symbol', "current_price", "market_cap", "market_cap_rank","total_volume", "ath", "atl", "price_change_percentage_200d_in_currency"]
dframe = dframe[columnas_seleccionadas]
dframe.head()

criptos = ['btc', 'eth', 'dot', 'usdc', 'dai', 'mana', 'usdt', 'xmr', 'ada', 'sol']

In [87]:
dframe = dframe[dframe['symbol'].isin(criptos)]
dframe.head(11)

,id,symbol,current_price,market_cap,market_cap_rank,total_volume,ath,atl,price_change_percentage_200d_in_currency
0,bitcoin,btc,29296.000000,569969216652,1,1.800175e+09,69045.00,67.810000,27.994945
1,ethereum,eth,1837.380000,220724226198,2,3.614163e+09,4878.26,0.432979,16.302115
2,tether,usdt,0.999218,83345609005,3,6.012274e+09,1.32,0.572521,0.175077
5,usd-coin,usdc,1.000000,26184240810,6,1.283682e+09,1.17,0.877647,0.548451
8,cardano,ada,0.288537,10111671525,9,1.228911e+08,3.09,0.019253,-21.559658
9,solana,sol,24.260000,9854022747,10,2.706496e+08,259.96,0.500801,0.553878
12,polkadot,dot,4.980000,6286284832,13,7.616792e+07,54.98,2.700000,-21.220386
20,dai,dai,1.001000,3994352765,21,5.930130e+07,1.22,0.881960,0.318596
26,monero,xmr,158.630000,2878313827,27,7.355228e+07,542.33,0.216177,-7.900321
63,decentraland,mana,0.365082,672531612,64,5.171292e+07,5.85,0.009237,-46.639829

In [92]:
dframe["total_volume"] = pd.to_numeric(dframe["total_volume"])
def format_number(num):
    return '{:,.0f}'.format(num)
dframe["total_volume"] = dframe["total_volume"].apply(format_number)

dframe.head(1)

,id,symbol,current_price,market_cap,market_cap_rank,total_volume,ath,atl,price_change_percentage_200d_in_currency
0,bitcoin,btc,29296.0,569969216652,1,"1,800,174,815",69045.0,67.81,27.994945

In [95]:
dframe.rename(columns={"ath": "MÃ¡ximo HistÃ³rico"}, inplace=True)
dframe.rename(columns={"atl": "MÃ­nimo HistÃ³rico"}, inplace=True)
dframe.rename(columns={"price_change_percentage_200d_in_currency": "Media 200D"}, inplace=True)
dframe.head(11)

,id,symbol,current_price,market_cap,market_cap_rank,total_volume,MÃ¡ximo HistÃ³rico,MÃ­nimo HistÃ³rico,Media 200D
0,bitcoin,btc,29296.000000,569969216652,1,"1,800,174,815",69045.00,67.81,27.99
1,ethereum,eth,1837.380000,220724226198,2,"3,614,162,832",4878.26,0.43,16.30
2,tether,usdt,0.999218,83345609005,3,"6,012,273,688",1.32,0.57,0.18
5,usd-coin,usdc,1.000000,26184240810,6,"1,283,682,028",1.17,0.88,0.55
8,cardano,ada,0.288537,10111671525,9,"122,891,125",3.09,0.02,-21.56
9,solana,sol,24.260000,9854022747,10,"270,649,562",259.96,0.50,0.55
12,polkadot,dot,4.980000,6286284832,13,"76,167,925",54.98,2.70,-21.22
20,dai,dai,1.001000,3994352765,21,"59,301,299",1.22,0.88,0.32
26,monero,xmr,158.630000,2878313827,27,"73,552,284",542.33,0.22,-7.90
63,decentraland,mana,0.365082,672531612,64,"51,712,916",5.85,0.01,-46.64

In [96]:
dframe["MÃ­nimo HistÃ³rico"] = dframe["MÃ­nimo HistÃ³rico"].round(2)
dframe["MÃ¡ximo HistÃ³rico"] = dframe["MÃ¡ximo HistÃ³rico"].round(2)
dframe["Media 200D"] = dframe["Media 200D"].round(2)

In [97]:
dframe.head(11)

,id,symbol,current_price,market_cap,market_cap_rank,total_volume,MÃ¡ximo HistÃ³rico,MÃ­nimo HistÃ³rico,Media 200D
0,bitcoin,btc,29296.000000,569969216652,1,"1,800,174,815",69045.00,67.81,27.99
1,ethereum,eth,1837.380000,220724226198,2,"3,614,162,832",4878.26,0.43,16.30
2,tether,usdt,0.999218,83345609005,3,"6,012,273,688",1.32,0.57,0.18
5,usd-coin,usdc,1.000000,26184240810,6,"1,283,682,028",1.17,0.88,0.55
8,cardano,ada,0.288537,10111671525,9,"122,891,125",3.09,0.02,-21.56
9,solana,sol,24.260000,9854022747,10,"270,649,562",259.96,0.50,0.55
12,polkadot,dot,4.980000,6286284832,13,"76,167,925",54.98,2.70,-21.22
20,dai,dai,1.001000,3994352765,21,"59,301,299",1.22,0.88,0.32
26,monero,xmr,158.630000,2878313827,27,"73,552,284",542.33,0.22,-7.90
63,decentraland,mana,0.365082,672531612,64,"51,712,916",5.85,0.01,-46.64

In [98]:
dframe.to_csv("data_markets.csv")